version: '3.7'

networks:
  hermes_default:
    external: true

services:
  search_elasticsearch:
    container_name: search_elasticsearch
    image: elasticsearch:8.5.3
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - hermes_default
    ports:
      - "9200:9200"


  search_kibana:
    container_name: search_kibana
    image: kibana:8.5.3
    environment:
      - ELASTICSEARCH_HOSTS=http://search_elasticsearch:9200
    networks:
      - hermes_default
    depends_on:
      - search_elasticsearch
    ports:
      - "5601:5601"

  task_api:
    networks:
      - hermes_default
    container_name: task_api
    platform: ${PLATFORM}
    build:
      context: .
      dockerfile: docker/task-api/Dockerfile
      target: server
    depends_on:
      search_redis:
        condition: service_healthy
    ports:
      - "8001:8000"
    environment:
      - FILE_DIR=/uploads
    volumes:
      - uploads:/uploads

  search_redis:
    image: redis:6.2-alpine
    container_name: search_redis
    platform: ${PLATFORM}
    restart: always
    expose:
      - 6379
    networks:
      - hermes_default
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 20


